<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Page</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="/">Information</a>
            </li>
        </ul>
    </div>
    <div>
        <img src="mokka.jpg" width="200"/>
    </div>
    <div th:object="${pet}">
        <p th:text="'This is ' + *{name} + '. Currently living on ' + *{food} + ' and ' + *{drink} +
        '. She knows ' + *{#lists.size(petTrickList)} + ' tricks.'"></p>
    </div>
    <h1>Known tricks</h1>
    <div>
        <ul>
            <li>write HTML</li>
            <li>code in Java</li>
        </ul>
    </div>
</body>
</html>
