body {
    margin: 0 ;
    padding: 0%;
    /* width: 740px; */
    background-image: url("topography.png");
    font-family: courier;
}
header {
    background-color: #333333;
    text-align: right;
    padding: 26px 10%;
}
article {
    padding: 0 10%;
}
#wiki {
    text-align:center;
    font-size: 22px;
}
h1, h2, h3 {
    font-family: 'Do Hyeon', sans-serif;
}
p {
    font-family: 'Consolas';
    font-weight: normal;
    font-size: 13px;
}
img {
    height: 23px;
    width: 23px;
    padding: 0px;
    float:left;
}
#nameKD {
    font-size:33px;
    padding: 45px 0 0 0;
}
#intro {
    font-size: 16px;
    font-family: courier;
}
#title {
    color: #ff0099;
    font-size: 22px;
}
#dashes {
    text-align: center;
    padding: 20px 0;
}

a:link, a:visited {
    color: #ff0099;
    font-family: consolas;
}
main::before {
    content: "- - -";
    /* align-content: center; */
    /* margin: 0 10%; */
    /* padding: 0 50%; */
    /* border: 2px solid black; */
}