body {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  padding: 3% 5%;
}

form {
    float:left;
    font-weight: bold;
    width:50%;
    border:0px;
    padding:30px 50px ;
    border-radius: 5px;
    background-color: white;
    font-size: 1em;
    color: #666666;

}

.login_box {
    background-color: ffffff;
}

input {
  box-sizing: border-box; /* sizing properties apply to all parts total!!*/
  width: 100%;
  font-size: 0.7em;
  border-radius: 3px;
  border:1px solid #ccc;
  padding: 5%;
}

input:focus {
  border-color: #99cc00;
}

input.password {
  -webkit-text-security: disc;
}

h1 {
  font-size: 1em;
  text-align: left;
  padding: 5% 0;
}

p {
  text-align: left;
}

a:link {
  text-decoration: none;
  color: #666666;
}

.fieldnames {
  font-size: 0.4em;
  margin: 0;
  padding: 5% 0 5% 0;
}


.submitButton {
  font-size: 0.6em;
  padding: 10px 30px;
  background-color: #333333;
  color: white;
  border: 0px;
  border-radius: 22px;
  width: 100px;
  float:left;
  text-align: center;
}

.pwReminder {
  font-size: 0.3em;
  float:right;
  color: #666666;
  padding: 1% 0;
}
